@import '../../../mixin.scss';
.pt-10{
    padding-top: 5rem;
}
.trending_section{
    .contentWrapper{
        position: relative;
        .more_button_section{
            margin-top: 1.5rem;
            text-align: center;
           .more_button{
            width: 40px;
            height: 40px;
            display: inline-block;
            line-height: 45px;
            font-size: 1.5rem;
            background: var(--black-light);
            color: white;

            border-radius: 50%;
            border: none;
            outline: none;
            cursor: pointer;
            box-shadow: 9px 10px 29px 0px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 9px 10px 29px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 9px 10px 29px 0px rgba(0, 0, 0, 0.2);
        
           }
        }
    }
}
.tabs_section{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    h2{
        color: #fff;
    }
    .tabs{
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 1rem;
width: 90%;
@include sm{

    flex-wrap: wrap;
}
    }
}
